/*WYSWYG Editor CSS*/
@import url("http://jaxboards.com/wysiwyg.css");

body{background:#000 url(http://i.min.us/iEe7dTBIuMhwJ.gif);font-family:arial;font-size:16px;color:#fff;text-align:center;overflow-y:scroll;word-wrap:break-word;}
img{border:0;}
a:active,a:visited,a:link{color:#c0c0c0;text-decoration:none;}
a:hover{color:#808080;}
input,textarea{color:#fff;background:#343434;border:1px solid #646464;}
.editorframe {border:1px solid #646464;}
input[type=submit],.idxtools a{padding:5px;border-radius:5px;background: url(http://i.min.us/iceoWPrxgEOI6.png), #454545; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #454545 0%, #232323 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#232323)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #454545 0%,#232323 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #454545 0%,#232323 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #454545 0%,#232323 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#232323',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #454545 0%,#232323 100%); /* W3C */border:1px solid #000;}
input[type=submit]:active,input[type=submit]:focus,.idxtools a:active,.idxtools a:focus{padding:5px;border-radius:5px;background: url(http://i.min.us/iceoWPrxgEOI6.png), #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #454545 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#454545 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#454545 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#454545',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#454545 100%); /* W3C */border:1px solid #000;}
img{max-width:680px;}
div.highlight {background:#888;}
td.highlight {background:#888;}

/*Misc (Global)*/
.error{color:#600;background:#FCC!important;border:1px solid #F33!important;margin:5px 0 0;padding:5px;}
.error a {color:#c00;}
.error a:hover {color:#800;}
.success{color:#060;background:#CFC!important;border:1px solid #3F3!important;margin:5px 0 0;padding:5px;}
.success a {color:#0c0;}
.success a:hover {color:#080;}
.clear{clear:both;}
.center{text-align:center;}

/*Avatars*/
.avatar img{max-width:150px;max-height:150px;}
#shoutbox .shout .avatar, .sbhistory .avatar {max-height:16px;max-width:16px;}

/* All windows */
.window{background:url(http://jaxboards.com/Themes/Default/img/shadowAlpha.png) bottom right;position:fixed;}
.window .title{padding-right:20px;cursor:move;text-align:center;background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */color:#FFF;border-radius:5px 5px 0 0;}
.window .title .controls{cursor:pointer;position:absolute;top:2px;right:2px;font-size:smaller;}
.window .title .controls div{display:inline-block;padding:0 5px;}
.window.minimized .content{top:0;left:0;display:none;}
.window.minimized .title{top:0;left:0;padding-right:50px;}
.window .resize{cursor:nw-resize;width:10px;height:10px;background:url(http://jaxboards.com/Themes/Default/icons/cornerdrag.png);position:absolute;}
.window .content{text-align:left;background:#343434;overflow:hidden;border-radius:0 0 5px 5px;padding-bottom:5px;}
.window .content,.window .title{position:relative;top:-5px;left:-5px;border:1px solid #646464;}
.window .title {border-bottom:0;}

/* IM windows */
.im .ims{padding:5px;width:200px;height:100px;overflow:auto;}
.im .ims div{background:#343434;}
.im .ims div.highlight{background:#888;}
.im .content{border-radius:0;}
.im form{display:block;width:100%;border-top:1px solid #555;border-right:0;border-left:0;border-bottom:0;}
.im input[type=text] {padding:5px;width:95%;border:none;}
.im .you .name{color:#F88;}
.im .them .name{color:#88F;}
.im .action,.im .action .you,.im .action .them{font-style:italic;}
.im .action{color:#ccc;}
.im .offline{display:none;}
.im.offline .offline{display:block;color:#600;background:#ECC;font-style:italic;padding:5px;font-size:10px;}
.im .content{padding:0;}
.immenu,.emotewin{border:1px solid #646464;background:#343434;padding:2px;}

/* User Control Panel */
#ucp {}
#ucp .content{background:#303030;border-left:1px solid #646464;}
#ucp textarea{width:650px;height:100px;}
#ucp label{display:inline-block;width:150px;}
#ucp .leftbar{float:left;width:170px;}
#ucp .leftbar .icon{margin:10px;font-size:12px;padding:2px 25px;background:url(http://jaxboards.com/Themes/Default/icons/inboxicons.png) 0 0 no-repeat;}
#ucp .leftbar h2{background:url(http://i.min.us/iceoWPrxgEOI6.png) #232323;margin:0;font-size:16px;padding:3px;}
#ucp .icon.inbox{background-position:0 -32px;}
#ucp .icon.sent{background-position:0 -64px;}
#ucp .icon.flagged{background-position:0 -96px;}
#ucp .icon.compose{background-position:0 -128px;}
#ucp #ucppage{background:#343434;}
#ucp .leftbar a{display:block;margin:5px 10px;}
#ucp .error{margin:5px;padding:5px;}
#ucppage{background:#343434;border-left:1px solid #646464;margin-left:170px;padding:20px;min-height:400px;}
#ucppage h2{border-bottom:1px solid #646464;font-size:20px;}
#ucppage .tooltip{font-size:14px;background:url(http://jaxboards.com/Themes/Default/icons/help.png) no-repeat;text-indent:-1000px;display:inline-block;width:20px;border:none;cursor:help;}
#ucp .error{text-align:left;margin-bottom:15px;padding:8px;}
#ucppage input[value="Save"],#ucppage input[value="Change"],#ucppage input[value="Save Profile Settings"]{display:block;margin:0;}

/* Mod CP */
#modcp .content{background:#303030;border-left:1px solid #646464;}
#modcp .minibox{border:1px solid #646464;margin:10px;}
#modcp .minibox .title{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */padding:5px;}
#modcp .minibox .content{padding:5px;background:#303030;border-left:0;}
#modcp .minibox .post{border-top:1px solid #646464;padding:10px;}
#modcp .minibox .post:first-of-type{border-top:0;}
#modcp .leftbar{float:left;padding:10px;width:150px;}
#modcp .modcppage{background:#343434;border-left:1px solid #646464;margin-left:170px;padding:20px;min-height:400px;}
#modcp .modcppage .error{margin:5px;padding:5px;}
#modcp td{vertical-align:top;}
#modcp textarea{width:500px;height:100px;}


/*Inbox*/
.inbox{}
.inbox .listing{border:1px solid #646464;font-size:14px;width:100%;border-collapse:collapse;}
.inbox .listing .unread{font-weight:bold;}
.inbox .listing td{padding:2px;border:1px solid #646464;border-style:solid none;background:#454545;}
.inbox .listing tr:first-of-type{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */}
.inbox .listing tr:hover td{background:#666;}
.inbox .listing tr:last-of-type:hover td,.inbox .listing tr:last-of-type td{background:url(http://i.min.us/iceoWPrxgEOI6.png);}
.inbox .listing th{padding:8px 2px;color:#fff;text-align:left;font-weight:normal;}
.inbox .listing .center{text-align:center;}
.inbox .compose{font-weight:bold;background-position:0 -128px;}
.inbox .compose a{color:#090;}
.inbox .composeform{}
.inbox .composeform label{margin-bottom:10px;display:inline-block;width:100px;}
.inbox .composeform textarea{width:650px;height:300px;}
.inbox .switch_converted.flag{height:16px;background:url(http://jaxboards.com/Themes/Default/icons/flags.png) no-repeat;background-position:center 0;}
.inbox .messageview{}
.inbox .message{margin-top:10px;background:#454545;border:1px solid #646464;padding:10px;}
.inbox .messageinfo{font-size:smaller;}
.inbox .messageinfo .title{font-weight:bold;}
.inbox .messagebuttons{margin-top:10px;text-align:left;}

/* Shoutbox */
#shoutbox{background:#454545;}
#shoutbox .content table{width:100%;border-collapse:collapse;}
#shoutbox .shout.highlight{background:#888;}
#shoutbox .shout{background:#343434;}
#shoutbox .shouts{padding:3px;background:#343434;font:14px arial;}
#shoutbox .shoutform{padding:20px;width:220px;margin-top:30px;background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #343434 0%, #454545 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #343434 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #343434 0%,#454545 100%); /* Opera11.10+ */background: -ms-linear-gradient(left, #343434 0%,#454545 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#454545',GradientType=1 ); /* IE6-9 */background: linear-gradient(left, #343434 0%,#454545 100%); /* W3C */}
#shoutbox .title{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */position:relative;padding:7px;color:#FFF;}
#shoutbox .action,#shoutbox .action a,.sbhistory .action,.sbhistory .action a{font-style:italic;color:#ccc;}
#shoutbox img{max-height:150px;max-width:150px;}
#shoutbox .shout .delete{margin-right:10px;display:none;}
#shoutbox .shout:hover .delete{display:inline;}
.sbhistory .shout .delete{margin-right:10px;}
.sbhistory{padding:10px;}

/*Buddy/Contacts List*/
#buddylist .online{color:#8f8;}
#buddylist .offline{color:#888;}
#buddylist .blocked{color:#F88;}
#buddylist .content{height:300px;width:200px;overflow-y:auto;}
#buddylist .contact{background:#343434;position:relative;cursor:hand;cursor:pointer;min-height:32px;padding:5px;border-bottom:1px solid #646464;}
#buddylist .contact:hover{background:#444;}
#buddylist .avatar img{max-width:32px;max-height:32px;}
#buddylist .avatar{position:absolute;}
#buddylist .name,#buddylist .status{margin-left:50px;}
#buddylist .status{white-space:nowrap;overflow:hidden;font-size:12px;color:#fff;}
#buddylist .contact:hover .status{white-space:normal;}
#buddylist input[name=status] {width:auto!important;}

/* Contact cards */
.contact-card .content{}
.contact-card .content a{font-size:14px;}
.contact-card .right{padding:10px;width:150px;}
.contact-card .left{padding:10px 30px;}
.contact-card .username{font-weight:bold;padding:10px;}
.contact-card .contact_details{font-size:12px;margin-top:20px;}
.contact-card .contact_details a:hover{text-decoration:none;}

/* User profiles */
.userprofile{margin:30px 5px;}
.userprofile .leftbar{float:left;width:200px;border:1px solid #646464;background:#434343;border-radius:10px;}
.userprofile .leftbar .username{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */border-bottom:1px solid #646464;padding:.5em;font-weight:bold;border-radius:10px 10px 0 0;text-align:center;}
.userprofile .leftbar .avatar{margin-top:20px;text-align:center;}
.userprofile .leftbar .avatar img{border:1px solid #000;}
.userprofile .leftbar .usertitle{font-size:.8em;margin:1px;text-align:center;}
.userprofile .infobox{background:#343434;margin:20px 5px 10px 5px;border:1px solid #646464;padding:5px;border-radius:5px;}
.userprofile .infobox .content{font-size:.8em;}
.userprofile .infobox div{font-size:.8em;margin:5px}
.userprofile .rightbar{margin-left:210px;}
.userprofile .rightbar .post{border-top:1px solid #646464;padding:10px;}
.userprofile .rightbar .post:first-child{border-top:0;}
.userprofile .rightbar .postdate{font-size:.8em;margin:0;padding:0;}
.userprofile .rightbar .signature{border-top:1px dashed #CCC;margin:10px 0;padding-top:10px;}
.userprofile #pfbox{background:#343434;border:1px solid #646464;padding:10px;border-radius:5px;}
.userprofile .pftabs a{margin-left:5px;display:inline-block;padding:.5em;border:1px solid #000;border-bottom:none;background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */color:#FFF; border-radius:10px 10px 0 0;}
.userprofile .pftabs a.active{background: url(http://i.min.us/iceoWPrxgEOI6.png) #343434;}
.userprofile .comment{position:relative;min-height:80px;border-top:1px solid #646464;padding:10px;}
.userprofile .comment:first-child {border-top:0;}
.userprofile .comment img{max-height:50px;max-width:50px;}
.userprofile .comment .userdata{position:absolute;}
.userprofile .comment .commenttext{margin-left:100px;padding:10px;}
.userprofile .comment .date{position:absolute;top:0;right:0;padding:0;font-size:smaller;color:#ccc;}
.userprofile .contacts{display:inline-block;}
.userprofile .contacts .contact{background:#343434;border:1px solid #343434;cursor:hand;cursor:pointer;padding:30px 10px;min-height:80px;width:120px;float:left;text-align:center;}
.userprofile .contacts .contact:hover{background:#444;border:1px solid #646464;}
.userprofile .contacts .contact .avatar img{max-width:50px;max-height:50px;}

/* Activity (global) */
.activity{padding:10px 10px 10px 36px;background:url(http://jaxboards.com/Themes/Default/icons/activity.png) no-repeat;}
.activity.new_post{background-position:0 -64px;}
.activity.profile_name_change{background-position:0 -128px;}
.activity.profile_comment{background-position:0 -194px;}
.activity.buddy_add{background-position:0 -258px;}

/*Surrounding Container/Template for Board*/
#container{margin:auto;width:940px;text-align:left;}
.head{height:200px;padding:10px;padding-bottom:0;position:relative;}
.navigation ul{list-style-type:none;padding:0;margin:0;height:41px;background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */border:1px solid #646464;}
.navigation ul li{margin:0;padding:11px 20px;float:left;border-right:1px solid #646464;}
.navigation ul li.active{background: url(http://i.min.us/iceoWPrxgEOI6.png) #343434;}
.navigation a{color:#FFF;}
.c_bottom{height:9px;}
.footer{text-align:center;margin:10px 0 0;background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */padding:5px;border:1px solid #646464;}
.bodyshad{padding:0 9px;}
#body{padding-bottom:20px;}
*:focus{outline:none;}

/*Logo*/
#logo{clear:both;margin-left:40px;line-height:155px;}
#logo img{vertical-align:middle;}

/*UserBox*/
#userbox{padding:15px;color:#FFF;position:absolute;top:65px;right:9px;width:209px;height:102px;border:3px double #646464;background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #343434 0%, #454545 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #343434 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #343434 0%,#454545 100%); /* Opera11.10+ */background: -ms-linear-gradient(left, #343434 0%,#454545 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#454545',GradientType=1 ); /* IE6-9 */background: linear-gradient(left, #343434 0%,#454545 100%); /* W3C */}
#userbox form{margin:0;font-size:16px;}
#userbox form input{width:200px;}
#userbox form input[type=submit]{width:auto;}
#userbox .welcome{text-align:center;}
#userbox .lastvisit{margin:15px 0;text-align:center;}
#userbox .messages{float:left;width:50%;}
#userbox .settings{text-align:right;float:left;width:50%;}
#userbox .settings a{background:url(http://jaxboards.com/Themes/Default/icons/wrench.png) no-repeat;padding-left:20px;color:#FFF;}
#userbox .forgot{font-size:smaller;float:right;color:#FFF;}

/*Breadcrumbs*/
.path{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */border:1px solid #646464;margin:5px 0 0;padding:5px;font: 14px arial;}
.path ul{list-style:none;margin:0;padding:0;}
.path ul li{float:left;margin-left:5px;}
.path ul li::before {content: " » ";}
.path ul li:first-child{padding-left:0;}
.path a{}

/*Board Index*/
.idxtools{font-size:smaller;margin:10px 0 0;}
.boardindex{width:100%;border-collapse:collapse;font:12px arial;}
.boardindex td{border:1px solid #000;}
.boardindex .last_post{background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #343434 0%, #454545 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #343434 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #343434 0%,#454545 100%); /* Opera11.10+ */background: linear-gradient(left, #343434 0%,#454545 100%); /* W3C */padding:10px;border-right:none;}
.boardindex .last_post:before{content:" » ";}
.boardindex .f_icon{border-style:solid none solid none;background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #454545 0%,#343434 99%); /* Opera11.10+ */background: linear-gradient(left, #454545 0%,#343434 99%); /* W3C */width:40px;vertical-align:middle;text-align:center;}
.boardindex .f_icon img { padding:30px 0 0;display:inline-block;height:0;margin:0 auto;width:30px;-moz-border-radius: 50px;border-radius: 50px; }
.boardindex .f_icon img[alt=read] {border:1px solid #000;background:url(http://i.min.us/iceoWPrxgEOI6.png) transparent;  }
.boardindex .f_icon img[alt=unread] {background: url(http://i.min.us/iceoWPrxgEOI6.png) #fc0000; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #fc0000 0%, #570000 99%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc0000), color-stop(99%,#570000)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #fc0000 0%,#570000 99%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #fc0000 0%,#570000 99%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #fc0000 0%,#570000 99%); /* W3C */border:1px solid #000; }
.boardindex .unread .forum a{font-weight:bold;}
.boardindex .forum{border-left:none;background-color:#343434;padding:20px;padding-left:10px;}
.boardindex .forum a{font:14px arial;}
.boardindex .subforums,.boardindex .ledby,
.boardindex .subforums a,.boardindex .ledby a{font-style:italic;font-size:10px;}
.boardindex .item_1,.boardindex .item_2{font-size:11px;width:165px;background:#454545;text-align:center;padding:5px 2px;border-right:none;}

/*Forum Listings*/
.forumindex{width:100%;border-collapse:collapse;font:12px arial;}
.forumindex td{padding:10px;height:50px;border:1px solid #000;}
.forumindex .f_icon{width:12px;padding:0;background:#343434;display:none;}
.forumindex .unread .topic{font-weight:bold;}
.forumindex .topic{background-color:#343434;border-left:none;}
.forumindex .last_post{width:250px;background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #343434 0%, #454545 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #343434 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #343434 0%,#454545 100%); /* Opera11.10+ */background: linear-gradient(left, #343434 0%,#454545 100%); /* W3C */}
.forumindex .last_post:before{content:" » ";}
.forumindex .item_1,.forumindex .item_2{width:65px;text-align:center;background-color:#343434;}
.forumindex .locked .topic>a:first-child{background:url(http://jaxboards.com/Themes/Default/icons/lock.png) left no-repeat;padding-left:18px;}
.forumindex .pinned .topic>a:first-child{font-style:italic;background:url(http://jaxboards.com/Themes/Default/icons/pin.gif) center left no-repeat;padding-left:14px;}
.forumindex .error{margin:0;text-align:center;padding:20px;}
.forumindex .moderate{background:url(http://jaxboards.com/Themes/Default/icons/posticons.png);text-indent:-1000px;display:inline-block;visibility:hidden;width:16px;height:16px;float:right;}
.forumindex .moderate.selected,.forumindex tr:hover .moderate{visibility:visible;}
.forum-buttons-top{text-align:right;margin:10px;}

/*Subforums (in forum listings)*/
.subindex{width:100%;border-collapse:collapse;font:12px arial;}
.subindex td{border:1px solid #000;}
.subindex .last_post{background: #343434; /* Old browsers */background: -moz-linear-gradient(left, #343434 0%, #454545 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#343434), color-stop(100%,#454545)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #343434 0%,#454545 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #343434 0%,#454545 100%); /* Opera11.10+ */background: linear-gradient(left, #343434 0%,#454545 100%); /* W3C */padding:10px;border-right:none;}
.subindex .last_post:before{content:" » ";}
.subindex .f_icon{border-style:solid none solid none;background: #454545; /* Old browsers */background: -moz-linear-gradient(left, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #454545 0%,#343434 99%); /* Opera11.10+ */background: linear-gradient(left, #454545 0%,#343434 99%); /* W3C */width:40px;vertical-align:middle;text-align:center;}
.subindex .forum{border-left:none;background-color:#343434;padding:20px;padding-left:10px;}
.subindex .forum a{font:14px arial;}
.subindex .unread .forum a{font-weight:bold;}
.subindex .item_1,.subindex .item_2{font-size:11px;width:165px;background:#454545;text-align:center;padding:5px 2px;border-right:none;}

/*Topic View*/
#intopic{width:100%;margin:auto;border-collapse:collapse;}
#intopic .topic-post-row{clear:both;background:#454545;}
#intopic td{vertical-align:top;border:1px solid #646464;}
#intopic .userdata{text-align:center;width:150px;background: #454545; /* Old browsers */background: -moz-linear-gradient(left, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, right top, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #454545 0%,#343434 99%); /* Opera11.10+ */background: linear-gradient(left, #454545 0%,#343434 99%); /* W3C */}
#intopic .avatar{margin-top:10px;}
#intopic .avatar img{border:1px solid #000;}
#intopic .username{background:url(http://i.min.us/iceoWPrxgEOI6.png) #232323;padding:4px;border-bottom:1px solid #646464;line-height:140%;}
#intopic .username a{font-weight:bold;}
#intopic .signature{font-size:smaller;display:inline-block;margin:20px;border-top:1px dashed #646464;}
#intopic .edit,#intopic .quotepost{margin-left:10px;padding-left:18px;background:url(http://jaxboards.com/Themes/Default/icons/posticons.png) no-repeat top left;}
#intopic textarea{width:650px;height:200px;}
#intopic .modpost.selected{color:#090;}
#intopic .quotepost{background-position:0 -32px;}
#intopic .post{line-height:140%;background:#343434;max-width:700px;}
#intopic .post .attachment{font-size:smaller;}
#intopic .post .post_content{padding:20px;}
#intopic .post .post_buttons{font-size:smaller;float:left;text-align:left;padding:4px;}
#intopic .post .post_info{padding:4px;text-align:right;font-size:smaller;background:url(http://i.min.us/iceoWPrxgEOI6.png) #232323;border-bottom:1px solid #646464;}
#intopic .postbottom{height:1em;text-align:right;border-top:hidden;padding:5px;background:#343434;}
/*Post Ratings*/
#intopic .postrating{float:left;}
#intopic .postrating .form{display:none;}
#intopic .postrating .form img{opacity:.5;}
#intopic .topic-post-row:hover .postrating .showrating{display:none;}
#intopic .topic-post-row:hover .postrating .form{display:block;}
#intopic .postrating a:hover img{opacity:1;}
.postrating_list{position:absolute;overflow:hidden;background:#343434;border:1px solid #646464;font-size:smaller;}
.postrating_list .column{width:90px;float:left;}
.postrating_list ul{list-style-type:none;padding:0;margin:0;max-height:200px;overflow-y:auto;}
/*end post ratings*/
#intopic .userstats{font-size:smaller;text-align:left;padding:10px;background:#212121;border:1px solid #646464;margin:10px;}
#intopic .usertitle{font-size:.6em;}
.topic-buttons-top,.topic-buttons-bottom{margin:10px;text-align:right;}
.topic-tools{float:right;}
.topic-reply-form textarea{width:500px;height:200px;}
#poll{margin-bottom:10px;}
#poll .content{background:#343434;padding:10px;}
#poll .title,#poll .buttons{text-align:center;}
#poll .choice{padding:5px;margin-bottom:10px;background:#454545;border:1px solid #646464;}
#poll .choice:hover{background:#888;border:1px solid #646464;}
#poll table{border-collapse:collapse;background:#343434;width:100%;}
#poll td{border:1px solid #646464;padding:5px;}
#poll .bar{background: #454545; /* Old browsers */background: -moz-linear-gradient(top, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #454545 0%,#343434 99%); /* Opera11.10+ */background: -ms-linear-gradient(top, #454545 0%,#343434 99%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#343434',GradientType=0 ); /* IE6-9 */background: linear-gradient(top, #454545 0%,#343434 99%); /* W3C */height:16px;display:inline-block;border:1px solid #646464;}
#poll .numvotes{width:100px;text-align:center;}
#poll .totalvotes{text-align:center;font-weight:bold;}
#poll div.highlight {background:#888;}

/*New Topic Form*/
.topicform{border:1px solid #646464;padding:20px;background:#454545;}
.topicform input[type=text]{width:500px;}
.topicform label{display:inline-block;width:100px;padding-bottom:20px;}
.topicform textarea {height:300px;width:100%;}
.topicform .buttons{text-align:center;margin-top:20px;}
.postoptions{margin-bottom:10px;}
.postoptions .uploadbutton,.postoptions .addpoll{padding:0 20px;margin:10px;background:url(http://jaxboards.com/Themes/Default/icons/postoptions.png) no-repeat top left;}
.postoptions .uploadbutton{background-position:0 -32px;}
.topicform .files .file{border:1px solid #646464;background:#545454;}
.topicform .files .file .name{display:inline;}
.topicform .progressbar{margin-left:10px;display:inline-block;width:200px;height:20px;border:1px solid #646464;background:#343434;}
.topicform .progressbar .progress{height:100%;background: #454545; /* Old browsers */background: -moz-linear-gradient(top, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #454545 0%,#343434 99%); /* Opera11.10+ */background: -ms-linear-gradient(top, #454545 0%,#343434 99%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#343434',GradientType=0 ); /* IE6-9 */background: linear-gradient(top, #454545 0%,#343434 99%); /* W3C */}
#polloptions{padding:10px;background:#545454;border:1px solid #646464;}
#polloptions textarea{height:200px;width:100%;}
#qreply textarea{border-style:none none solid none;}

/*New Post Form*/
.postform {padding:10px;background:#454545;}
.postform textarea{height:300px;width:880px;}
.postform .uploadbutton{background:url(http://jaxboards.com/Themes/Default/icons/postoptions.png) no-repeat 0 -32px;padding-left:16px;width:100px;height:1em;}
.postform .files .file{border:1px solid #646464;background:#545454;}
.postform .files .file .name{display:inline-block;width:300px;overflow:hidden;}
.postform .progressbar{display:inline-block;width:200px;height:1.1em;border:1px solid #646464;background:#343434;}
.postform .progressbar .progress{height:100%;background: #454545; /* Old browsers */background: -moz-linear-gradient(top, #454545 0%, #343434 99%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(99%,#343434)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #454545 0%,#343434 99%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #454545 0%,#343434 99%); /* Opera11.10+ */background: -ms-linear-gradient(top, #454545 0%,#343434 99%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#343434',GradientType=0 ); /* IE6-9 */background: linear-gradient(top, #454545 0%,#343434 99%); /* W3C */}
.postform .buttons{text-align:center;}

/*Search*/
#searchresults .content{padding:10px;}
.searchresult{border-top:1px solid #646464;padding:10px;}
.searchresult:first-of-type{border-top:0;}
.searchresult .highlight{background:#545454;color:#FFF;border:1px dashed #fff;}
#searchadvanced{width:100%;margin:10px;border-collapse:collapse;border-style:hidden;}
#searchadvanced label{display:inline-block;width:50px;}
#searchadvanced td{text-align:center;vertical-align:top;padding:10px;border-right:1px solid #646464;}
#searchadvanced th{text-align:center;padding-left:10px;}

/*Ticker*/
#ticker .tick{height:20px;padding:5px;border-bottom:1px solid #646464;}
#ticker .date{float:left;width:110px;font-size:10px;padding-top:3px;}
#ticker .by{float:right;width:150px;height:100%;overflow:hidden;text-align:right;}

/*Calendar*/
.calendar{width:100%;empty-cells:hide;}
.calendar .month{font-size:25px;padding:20px;}
.calendar th{text-align:center;}
.calendar td{height:100px;width:14%;border:1px solid #000;}
.calendar td>div{height:100%;position:relative;}
.calendar .today{background: #545454; /* Old browsers */background: -moz-linear-gradient(top, #343434 0%, #545454 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#545454)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #343434 0%,#545454 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #343434 0%,#545454 100%); /* Opera11.10+ */background: linear-gradient(top, #343434 0%,#545454 100%); /* W3C */}
.calendar .birthdays{font-size:smaller;position:absolute;bottom:0;background:url(http://jaxboards.com/Themes/Default/icons/birthday.png) no-repeat;padding-left:18px;}



/*Boxes/Collapse Boxes (Global)*/
/* DISCLAIMER: the borders around the title are actually not borders, but an image behind it (in .box) */
/* if you want to remove that border, just remove the background from .box and remove the margin on .box>.title */
.box{margin:10px 0 0;border:1px solid #646464;}
.box>.title{background: url(http://i.min.us/iceoWPrxgEOI6.png) #232323; /* Old browsers */background: url(http://i.min.us/iceoWPrxgEOI6.png), -moz-linear-gradient(top, #232323 0%, #010101 100%); /* FF3.6+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -webkit-linear-gradient(top, #232323 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -o-linear-gradient(top, #232323 0%,#010101 100%); /* Opera11.10+ */background: url(http://i.min.us/iceoWPrxgEOI6.png), -ms-linear-gradient(top, #232323 0%,#010101 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background: url(http://i.min.us/iceoWPrxgEOI6.png), linear-gradient(top, #232323 0%,#010101 100%); /* W3C */position:relative;padding:7px;color:#FFF;}
.box>.title .x{background:url(http://jaxboards.com/Themes/Default/icons/collapse.png);position:absolute;top:.75em;right:10px;width:9px;height:9px;text-indent:10px;overflow:hidden;cursor:pointer;}
.box.collapsed .title .x{background-position:0 -9px;}
.box .content_top{display:none;}
.box .content{background:#343434;}
.box .content>.error{margin:0;padding:10px;}
.box .content_bottom{height:10px;background:#454545; /* Old browsers */background:-moz-linear-gradient(top, #454545 1%, #010101 100%); /* FF3.6+ */background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#454545), color-stop(100%,#010101)); /* Chrome,Safari4+ */background:-webkit-linear-gradient(top, #454545 1%,#010101 100%); /* Chrome10+,Safari5.1+ */background:-o-linear-gradient(top, #454545 1%,#010101 100%); /* Opera11.10+ */background:-ms-linear-gradient(top, #454545 1%,#010101 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#010101',GradientType=0 ); /* IE6-9 */background:linear-gradient(top, #454545 1%,#010101 100%); /* W3C */}

/*Function-Specific*/
#debug{display:none;position:absolute;top:0;left:0;background:#343434;}
#overlay{position:fixed;top:0px;left:0px;background:#000;opacity:.5;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
#notification,#modbox{cursor:pointer;text-align:left;font-size:14px;border:1px solid #646464;background:#343434;padding:20px;width:280px;position:fixed;right:10px;bottom:10px;}
#notification.newmessage{padding-left:60px;background:url(http://jaxboards.com/Themes/Default/icons/newmessage.png) no-repeat 20px center;}
.pages-top .active,.pages-bottom .active{color:#fff;text-decoration:underline;}
.pages-top,.pages-bottom,.topic-buttons-top,.topic-buttons-bottom{padding:2px;}
.pages-top,.pages-bottom{float:left;padding-top:4px;padding-left:4px;}
.topic-buttons-top,.topic-buttons-bottom{background:url(http://i.min.us/iceoWPrxgEOI6.png) #232323;border:1px solid #646464;margin:10px 0 0;}
.topic-buttons-top a,.topic-buttons-bottom a {margin-right:10px;}
.pages-bottom{margin-top:10px;}
.sort{background:url(http://jaxboards.com/Themes/Default/icons/collapse.png) no-repeat;padding-right:18px;display:inline-block;background-position:right -56px;}
.sort.desc{background-position:right -30px;}
#status{display:block;background:url(http://jaxboards.com/Themes/Default/icons/status.png) top no-repeat;width:16px;height:16px;position:absolute;top:3px;left:3px;}
#status.invisible{background-position:bottom;}

/*Login Form (Full)*/
.login .content{padding:10px;}
.login label{display:inline-block;width:100px;}

/*Register Form*/
.register .content{padding:10px;}
.register .content label{display:inline-block;width:100px;}

/* Users Online*/
#statusers{display:inline;}
#statusers a{margin-left:5px;}
#statusers .idle{background:url(http://jaxboards.com/Themes/Default/icons/clock.png) no-repeat 2px 2px;padding-left:18px;font-style:italic;}
#stats .content{padding:20px;}
#stats .userstoday{margin-top:10px;padding-top:10px;border-top:1px solid #646464;}
#stats .stats{margin-top:10px;padding:10px 25px;background:url(http://jaxboards.com/Themes/Default/icons/boardstats.png) left center no-repeat;border-top:1px solid #646464;}
#statusers a:after{content:",";}
#statusers a:last-child::after{content:"";}

/*Member List*/
#memberlist{clear:both;}
#memberlist table{width:100%;border-collapse:collapse;}
#memberlist th{padding:10px;}
#memberlist .avatar{width:50px;}
#memberlist .avatar img{max-width:50px;max-height:50px;}
#memberlist td{padding:10px;border-top:1px solid #646464;}

/*Member/Group Specific*/
a.birthday{background:url(http://jaxboards.com/Themes/Default/icons/birthday.png) no-repeat 2px 2px;padding-left:18px;}
a.mgroup2{font-weight:700;}
a.mgroup4{text-decoration:line-through;}

/*BBcodes*/
.quote{border:1px solid #464646;background:#212121;padding:10px;}
.quote .quotee{margin:-10px 0 10px -5px;font-weight:bold;}
.code{border:1px solid #646464;background:#434343;padding:10px;font-family:consolas,fixedsys;font-size:12px;}
.spoilertext{display:inline-block;background:#000;color:#000;}
.spoilertext *{visibility:hidden;}
.spoilertext:hover *{visibility:visible;}
.spoilertext:hover{background:#000;color:#FFF;}

/*Contact icons*/
.contact{background:url(http://jaxboards.com/Themes/Default/icons/contact.png) no-repeat;padding-left:20px;padding-top:3px;}
.contact:hover{text-decoration:none;}
.skype{background-position:0 -32px;}
.gtalk{background-position:0 -64px;}
.aim{background-position:0 -96px;}
.yim{background-position:0 -128px;}
.steam{background-position:0 -160px;}
.twitter{background-position:0 -192px;}
.contact.im,.contact.pm{background-position:0 -224px;}

/*Social icons*/
.social{display:inline-block;background:url(http://jaxboards.com/Themes/Default/icons/social.png) no-repeat;width:16px;height:16px;overflow:hidden;text-indent:-1000px;}
.rss{background-position:0 0;}

/*Tooltip*/
.tooltip{position:absolute;border-collapse:collapse;color:#FFF;max-width:550px;}
.tooltip td{background:url(http://i.min.us/ib075VH2bvr2ep.png);}
.tooltip .top{height:10px;}
.tooltip .bottom{height:15px;}
.tooltip .top .right{background-position:top right;}
.tooltip .content td{background-position:center center;}
.tooltip .content .left{background-position:center left;width:10px;}
.tooltip .content .right{background-position:center right;width:10px;}
.tooltip .bottom .left{background-position:bottom left;}
.tooltip .bottom .right{background-position:bottom right;}

/*AutoComplete*/
#autocomplete{border:1px solid #646464;background:#343434;text-align:left;}
#autocomplete div{padding:5px;cursor:pointer;}
#autocomplete div:hover,#autocomplete div.selected{color:#ccc;background:#545454;border:1px solid #646464;border-style:solid none;}
#validname.good,#validname.bad{display:inline-block;width:16px;height:16px;background:url(http://jaxboards.com/Themes/Default/icons/check_x.png) top center;}
#validname.good{background-position:bottom center;}

/*Arcade*/
.arcade{width:100%;}
.gameinfo{float:right;width:200px;text-align:center;height:100%;margin:10px 10px 0 0;border:1px solid #646464;background:#343434;}
#scores{margin:10px;border:1px solid #99F;background:#FFF;}

#searchform .content{padding:10px;}
#searchform label{margin:10px;display:inline-block;}
